[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
charset-normalizer = "*"
click = "*"
flask = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
requests = "*"
urllib3 = "*"
werkzeug = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
greenlet = "*"
marshmallow = "*"
pyparsing = "*"
six = "*"
sqlalchemy = "*"
flask-cors = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
